---
import { getTest } from "@/utils/queries/test";
import Layout from "../layouts/Layout.astro";
const test = await getTest();
---

<Layout>
  <div
    class="flex flex-col items-center justify-center rounded-lg border-4 border-orange-700 bg-gradient-to-br from-zinc-200 to-transparent p-8 text-center dark:border-orange-300 dark:from-zinc-800"
  >
    <h1 class="text-4xl font-bold">Welcome to XIV Atlas</h1>
    <p class="text-xl">
      This is a place where you can find all the information you need to start
      your journey in the world of Final Fantasy XIV.
    </p>
    <p class="text-xl">
      Whether you're a seasoned player or just starting out, we've got you
      covered. From character profiles to in-game guides, we've got you covered.
    </p>
    <p class="text-xl">
      So, what are you waiting for? Grab your copy of Final Fantasy XIV and
      start exploring the world of Final Fantasy XIV.
    </p>
    {test && <p>{test.value}</p>}
  </div>
</Layout>
