---
import "@fontsource-variable/cinzel";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
---

<header class="w-full">
  <nav class="flex items-start justify-between p-4 font-display">
    <div
      class="text-2xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
    >
      <a href="/">{SITE_TITLE}</a>
    </div>
    <div class="relative">
      <button
        id="nav-toggle"
        class="flex items-center justify-between px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
      >
        <span class="sr-only">Menu</span>
        <Icon name="mdi:menu" class="h-6 w-6" />
      </button>
      <div
        id="nav-menu"
        class="absolute right-0 z-10 mt-2 hidden w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-gray-800"
      >
        <a
          href="/items/1"
          class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
        >
          Items
        </a>
        <a
          href="/instances/1"
          class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
        >
          Instances
        </a>
        <a
          href="/quests/1"
          class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
        >
          Quests
        </a>
        <a
          href="/achievements/1"
          class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
        >
          Achievements
        </a>
      </div>
    </div>
  </nav>
</header>

<script>
  const navToggle = document.getElementById("nav-toggle");
  const navMenu = document.getElementById("nav-menu");

  if (navToggle && navMenu) {
    navToggle.addEventListener("click", () => {
      navMenu.classList.toggle("hidden");
    });

    document.addEventListener("click", (event) => {
      if (
        event.target instanceof HTMLElement &&
        navToggle &&
        navMenu &&
        !navToggle.contains(event.target) &&
        !navMenu.contains(event.target)
      ) {
        navMenu.classList.add("hidden");
      }
    });
  }
</script>
