---
import "@fontsource-variable/lora";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Header from "../components/Header.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    style={{ backgroundImage: "url('/bg.jpg')" }}
    class="min-h-screen bg-cover bg-fixed bg-center bg-no-repeat text-zinc-800 dark:text-zinc-200"
  >
    <div
      class="flex min-h-screen flex-col items-center justify-start overflow-x-hidden bg-gradient-to-br from-zinc-50 via-zinc-200/90 to-zinc-800/40 dark:from-zinc-950 dark:via-zinc-900/95 dark:to-zinc-900/60"
    >
      <Header />
      <main
        class="container mx-auto flex flex-1 flex-col items-center justify-start p-4 font-body lg:p-8"
      >
        <slot />
      </main>
      <footer class="flex w-full items-center justify-start gap-2 p-4">
        <ThemeIcon />
      </footer>
    </div>

    <slot name="scripts" />
  </body>
</html>
